# OpenAI / Poligpt UPV
OPENAI_API_KEY=clave
OPENAI_MODEL=modelo
OPENAI_API_BASE_URL=https://api.poligpt.upv.es/v1

# Ollama local
LLM_PROVIDER=ollama
OLLAMA_API_URL=http://127.0.0.1:11434
OLLAMA_MODEL=llama2

GOOGLE_GENERATIVE_AI_API_KEY=clave_gemini

OPENWEATHER_API_KEY=clave_openweather

# API SAIH
SAIH_API_URL=https://api-saih-public.chj.es:3000/